@model Falcon.Database.Question

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Question</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.What_if)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.What_if)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.But)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.But)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Yes_Count)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Yes_Count)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.No_Count)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.No_Count)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Like_Count)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Like_Count)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Dislike_Count)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Dislike_Count)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Weight)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Weight)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatorID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatorID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdateDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Banned)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Banned)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Category.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
